
#limite-container{
    width: auto;
}

.row{
    height: auto;
    padding: 20px;
    margin: 0px;
}

.col-b{
    height: 200px;
    border-radius: 50px !important;
}

.col{
    background-color: white;
    color: #212529;
    border: 2px solid transparent;
    border-radius: 20px;
    height: auto;
    padding: 15px;
    margin: 20px;
    margin-top: 100px;
    transition: all 0.5s;
}

.col:hover{
    box-shadow: rgba(255, 255, 255) 0px 0px 32px;
    transform: scale(1.05);
}

.wpp{
    max-width: 100%;
    height: auto;
}


.icon{
    width: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.inicio{
    margin-top: 50px;
}

.sub{
    width: 350px;
    background-color: white;
    box-shadow: rgba(255, 255, 255) 0px 0px 10px;
    color: #212529;
    padding: 5px;
    border-radius: 50px;
    
}

footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    bottom: 0;
    margin-top: auto;
}

body{
    min-height: 100vh;
}

p{
    text-align: center;
}

h1{
    text-align: center;
    font-size: 50px;
    text-justify: auto;
    margin-top: 20px;
}

h3{
    text-align: center;
    
}

h4{
    text-align: center;
    font-size: 1rem;
}

h6{
    margin: 0;
}

